{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
    <aside id="fh5co-hero">
        <div class="flexslider">
            <ul class="slides">
                <li style="background-image: url({% static 'images/FAQ-main-image.png' %});  background-position: center; background-size: cover;">
                    <div class="overlay"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 text-center slider-text">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </aside>
    <div id="fh5co-events">
        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2>{% translate 'Deposits and Insurance' %}</h2>
            </div>
        </div>
        <div class="row" style="display: flex; flex-direction: column; gap: 50px;">
            {% for deposit in deposits %}
                <div class="col-md-4 animate-box">
                    <div class="events-entry">
                        <h3 style="color: #9d1a28;">{{ deposit.question }}</h3>
                        <p class="visible-text">{{ deposit.answer|truncatewords:15 }}</p>
                        <p class="hidden-text" style="display: none;">{{ deposit.answer }}</p>
                        <a class="show-more" onclick="toggleText(this)" style="cursor: pointer">Read More</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <hr>

    <div id="fh5co-events">
        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2>{% translate 'Our Conditions' %}</h2>
            </div>
        </div>
        <div class="row" style="display: flex; flex-direction: column; gap: 50px;">
            {% for condition in conditions %}
                <div class="col-md-4 animate-box">
                    <div class="events-entry">
                        <h3 style="color: #9d1a28;">{{ condition.question }}</h3>
                        <p class="visible-text">{{ condition.answer|truncatewords:15 }}</p>
                        <p class="hidden-text" style="display: none;">{{ condition.answer }}</p>
                        <a class="show-more" onclick="toggleText(this)" style="cursor: pointer">Read More</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}