{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
    <aside id="fh5co-hero">
        <div class="flexslider">
            <ul class="slides">
                <li style="background-image: url({{ current_tour.main_image.url }}); background-position: center; background-repeat: no-repeat; background-size: cover;">
                    <div class="overlay"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 text-center slider-text">
                                <div class="slider-text-inner">
                                    <h1 style="font-size: 100px;">{{ current_tour.price }} $</h1>
{#                                    <h2>{{ current_tour.name }}</h2>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </aside>
    <div id="fh5co-tours">
        <div class="row animate-box" style="text-align: center;">
            <h2 style="color: #9d1a28; text-align: center;">{{ current_tour.name }}</h2>
            <p>{{ current_tour.information }}</p>
            {% for image in current_tour.images.all|slice:":2" %}
                <img src="{{ image.image.url }}" alt="" style="width: 49%; margin-bottom: 50px;">
            {% endfor %}
            <p>{{ current_tour.more_information.more_information }}</p>
            {% for image in current_tour.images.all|slice:"2:" %}
                <img src="{{ image.image.url }}" alt="#" style="width: 100%; margin-bottom: 50px;">
            {% endfor %}
        </div>
    </div>
    <div id="fh5co-counter" class="fh5co-counters fh5co-light-grey">
        <div class="text-message">
            <h2>{% translate 'Contact us' context 'unique_context' %}</h2>
        </div>
        <div class="center-contact">
            <div class="row">
                <form method="post">
                    {% csrf_token %}
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.name }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form.email }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form.message }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="submit" value="{% translate 'Send Message' context 'unique_context' %}" class="btn btn-primary btn-modify">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}