{% load i18n %}
        <div class="container-wrap">
            <footer id="fh5co-footer" role="contentinfo">
                <div class="col-md-4 text-center">
                    <h3>{% translate 'Sofia, Simeonovo' %}</h3>
                    <hr>
                </div>
                <div class="col-md-4 text-center">
                    <h2><a href="#">{% translate 'Adventure' %}</a></h2>
                </div>
                <div class="col-md-4 text-center">
                    <p>
                    <ul class="fh5co-social-icons">
                        <li><a href="#"><i class="icon-twitter2"></i></a></li>
                        <li><a href="#"><i class="icon-facebook2"></i></a></li>
                        <li><a href="#"><i class="icon-instagram"></i></a></li>
                        <hr>
                    </ul>
                    </p>
                </div>
                <div class="row copyright">
                    <div class="col-md-12 text-center">
                        <p>
                            <small class="block">&copy; 2023. All Rights Reserved.</small>
                            <small class="block">Designed by <a href="http://freehtml5.co/"
                                                                target="_blank">Blagovest Manolov</a>
                        </p>
                    </div>
                </div>
            </footer>
        </div><!-- END container-wrap -->